{% extends "admin/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="add_employee_post">
  <table class="table table-bordered" style="width: 600px;" align="center" border="1">
    <tr>
      <td width="157">Name</td>
      <td width="418"><input type="text" name="textfield" id="textfield" class="form-control" required/></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input type="email" name="textfield2" id="textfield2" class="form-control" required/></td>
    </tr>
    <tr>
      <td>Phone No</td>
      <td><input type="tel" name="textfield3" id="textfield3" class="form-control" pattern="[0-9][0-9]{9}" required/></td>
    </tr>
    <tr>
      <td>DOB</td>
      <td><input type="date" name="textfield4" id="textfield4" class="form-control"required/></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><p>
          <input type="radio" name="radio" id="radio" value="Male" required checked/>
      Male      </p>
      <p>
        <input type="radio" name="radio" id="radio2" value="Female" required/>
      Female</p></td>
    </tr>
    <tr>
      <td>Experience</td>
      <td><textarea name="textarea" id="textarea" cols="45" rows="5" class="form-control" required></textarea></td>
    </tr>
    <tr>
      <td colspan="2", align="center"><input type="submit" name="button" id="button" value="Add" class="btn btn-success"/></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
