{% extends "admin/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="/add_batch">add batch</a></td>
    </tr>
    <tr>
      <td><a href="/add_competition">add competition</a></td>
    </tr>
    <tr>
      <td><a href="/add_employee">add employee</a></td>
    </tr>
    <tr>
      <td><a href="/add_physician">add physician</a></td>
    </tr>
    <tr>
      <td><a href="/approve_doctor">approve doctor</a></td>
    </tr>
    <tr>
      <td><a href="/gym_requirements">gym requirements</a></td>
    </tr>
    <tr>
      <td><a href="/view_applicants">view applicants</a></td>
    </tr>
    <tr>
      <td><a href="/View_attendance">view attendance</a></td>
    </tr>
    <tr>
      <td><a href="/view_batches">view batches</a></td>
    </tr>
    <tr>
      <td><a href="/view_competition">view competition</a></td>
    </tr>
    <tr>
      <td><a href="/view_complaints">view complaints</a></td>
    </tr>
    <tr>
      <td><a href="/view_doctor">view doctor</a></td>
    </tr>
   <tr>
      <td><a href="/allocate_batch">allocate batch</a></td>
   </tr>
    <tr>
      <td><a href="/view_employee">view employee</a></td>
    </tr>
    <tr>
      <td><a href="/View_feedback">view feedback</a></td>
    </tr>
    <tr>
      <td><a href="/view_gym_requirements">view gym requirements</a></td>
    </tr>
    <tr>
      <td><a href="/view_performer">view performer</a></td>
    </tr>
    <tr>
      <td><a href="/view_physician">view physician</a></td>
    </tr>
    <tr>
      <td><a href="/view_user">view user</a></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}