{% extends "admin/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/allocate_batch_post">
<table class="table table-bordered">
    <input type="hidden" name="uid" value="{{ u }}"/>
    <tr>
      <th scope="row">Batch</th>
      <td><label for="select"></label>
        <select name="select" id="select" class="form-control">
            {% for i in data %}
            <option value="{{ i.batch_id }}">{{ i.batch_name }}</option>
            {% endfor %}
      </select></td>
    </tr>
    <tr>
      <th scope="row">Instructor</th>
      <td><label for="select2"></label>
        <select name="select2" id="select2" class="form-control">
            {% for i in data2 %}
            <option value="{{ i.employee_id }}">{{ i.employee_name }}</option>
            {% endfor %}
      </select></td>
    </tr>
    <tr>
      <th height="47" colspan="2" scope="row"><input type="submit" name="button" id="button" value="ALLOCATE" class="btn btn-primary" /></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}