{% extends "admin/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
      <th scope="col">SLNO</th>
      <th scope="col">USER INFO</th>
      <th scope="col">DATE</th>
      <th scope="col">REVIEW</th>
      <th scope="col">&nbsp;</th>
    </tr>
        {% for i in data %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ i.user_id }}</td>
      <td>&nbsp;{{ i.date }}</td>
      <td>{{ i.review }}</td>
      <td><a href="/delete_doctor_review/{{ i.review_id }}"#content  class="btn btn-danger"  onclick="return confirm('Are you sure?'")>delete</a></td>
    </tr>
       {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}