{% extends "admin/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
  
 
    <tr>
      <th scope="col">SL NO</th>
      <th scope="col">NAME</th>
      <th scope="col">EMAIL</th>
      <th scope="col">PHONE NO</th>
      <th scope="col">DOB</th>
      <th scope="col">GENDER</th>
      <th scope="col">WEIGHT</th>
      <th scope="col">HEIGHT</th>
      <th scope="col">BMI</th>
      <th scope="col">PHOTOS</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
    </tr>
       {% for i in data %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ i.name}}</td>
      <td>&nbsp;{{ i.email_id }}</td>
      <td>&nbsp;{{ i.phone_no}}</td>
      <td>&nbsp;{{ i.dob}}</td>
      <td>&nbsp;{{ i.gender }}</td>
      <td>&nbsp;{{ i.weight }}</td>
      <td>&nbsp;{{ i.height }}</td>
      <td>&nbsp;{{ i.bmi }}</td>
      <td><a href="{{ i.photo }}"><img src="{{ i.photo }}" alt="" height="100" width="100"/></a> </td>
{#      <td><a href="/approve_user/{{ i.login_id }}" class="btn btn-success">Approve</a></td>#}
{#      <td><a href="/reject_user/{{ i.login_id }}" class="btn btn-danger">Reject</a></td>#}
      <td><a href="/allocate_batch/{{ i.user_id }}#content" class="btn btn-primary">allocate</a></td>
{#      <td><a href="/allocate_batch/{{ i.user_id }}#content" class="btn btn-primary">View Allocate</a></td>#}
    </tr>
       {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}