{% extends "user/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/add_bank_payment2_post">
  <table class="table table-bordered">
    <tr>
      <th scope="row">Amount</th>
      <td>
      <input type="text" name="textfield" id="textfield" value="{{ tot }}" readonly  class="form-control" /></td>
    </tr>
    <tr>
      <th scope="row">Bank</th>
      <td>
        <select name="select" id="select" class="form-control">
            <option>SBI</option>
            <option>AXIS</option>
            <option>FEDERAL</option>
      </select></td>
    </tr>
    <tr>
      <th scope="row">Account</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" class="form-control" required/></td>
    </tr>
    <tr>
      <th scope="row">IFSC</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" class="form-control" required/></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="PAY" class="btn btn-success"/></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}