{% extends "user/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/buy_medicine_post">
    <table class="table table-bordered">

    <input type="hidden" name="pid" value="{{ p }}"/>
    <input type="hidden" name="mid" value="{{ m }}"/>
    <input type="hidden" name="sid" value="{{ s }}"/>
    <tr>
      <th scope="row">Enter quantity</th>
      <td>
      <input type="number" name="textfield" id="textfield" class="form-control" min="1" required/></td>
    </tr>
    <tr>
      <td colspan="2" scope="row" align="center"><input type="submit" name="button" id="button" value="ADD" class="btn btn-success"/></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
