{% extends "reg_index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="/add_registration1_post">
  <table class="table table-bordered" style="width: 600px;" align="center" border="1">
    <tr>
      <th scope="row">Name</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" class="form-control" required/></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><label for="textfield2"></label>
      <input type="email" name="textfield2" id="textfield2" class="form-control" required/></td>
    </tr>
    <tr>
      <th scope="row">Phone</th>
     <td><input type="tel" name="textfield3" id="textfield3" class="form-control" pattern="[0-9][0-9]{9}" required/></td>
    </tr>
    <tr>
      <th scope="row">DOB</th>
      <td><label for="textfield4"></label>
      <input type="date" name="textfield4" id="textfield4" class="form-control" required/></td>
    </tr>
       <tr>
      <td>Gender</td>
      <td><p>
          <input type="radio" name="radio" id="radio" value="Male" required checked/>
      Male      </p>
      <p>
        <input type="radio" name="radio" id="radio2" value="Female" required/>
      Female</p></td>
    </tr>
    <tr>
      <td>Photos</td>
      <td><input type="file" name="fileField" id="fileField" class="form-control" required/></td>
    </tr>
    </tr>
    <tr>
      <th scope="row">Height</th>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" class="form-control" required/></td>
    </tr>
    <tr>
      <th scope="row">Weight</th>
      <td><label for="textfield6"></label>
      <input type="text" name="textfield6" id="textfield6" class="form-control" required/></td>
    </tr>
    <tr>
      <th scope="row">Password</th>
      <td><label for="textfield6"></label>
      <input type="text" name="textfield7" id="textfield7" class="form-control" required/></td>
    </tr>

    <tr>
      <th colspan="2" scope="row"#content><input type="submit" name="button" id="button" value="NEXT" class="btn btn-success"/></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}