{% extends "user/index.html" %}
{% block body %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="/send_complaints">Send Complaints</a></td>
    </tr>

    <tr>
      <td><a href="/send_doubts">Send Doubts</a></td>
    </tr>




      <tr>
      <td><a href="/view_doubts">View Doubts</a></td>
    </tr>
      <tr>
      <td><a href="/send_feedback">Send Feedback</a></td>
    </tr>
      <tr>
      <td><a href="/view_feedback">View Feedback</a></td>
    </tr>
      <tr>
      <td><a href="/view_gym_equipments">Gym Equipments</a></td>
    </tr>

      <tr>
      <td><a href="/view_profile">Profile</a></td>
    </tr>
      <tr>
      <td><a href="/view_complaint">Complaints</a></td>
    </tr>
       <tr>
      <td><a href="/view_competitions">Competition</a></td>
    </tr>
       <tr>
      <td><a href="/view_doctors">Doctor</a></td>
    </tr>
       <tr>
      <td><a href="/view_doctor_schedule">Doctor Schedule</a></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}