{% extends "user/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
      <th scope="col">SL NO</th>
      <th scope="col">DATE</th>
      <th scope="col">DOCTOR INFO</th>
      <th scope="col">SCHEDULE</th>

      <th scope="col">TOKEN NO</th>

      <th scope="col">&nbsp;</th>
    </tr>
       {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.doctor_name }}<BR>{{ i.phone_no }}
      </td>
      <td>{{ i.time_from }}-{{ i.time_to }}</td>
      <td>{{ i.token_no }}</td>

      <td><a href="/ph_user_chat1/{{ i.doctor_id }}#content" class="btn btn-primary">Chat</a></td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}